.filmsPage {
    font-family: Arial, sans-serif;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header_name span {
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: black;
}

.header_filter select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    outline: none;
    cursor: pointer;
    transition: border-color 0.5s ease;
}

.header_filter select:hover,
.header_filter select:focus {
    border-color: black;
}

.film-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Равномерное распределение карточек */
    gap: 20px; /* Пространство между карточками */
}

.film-card {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.film-card img {
    width: 200px;
    height: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.film-card button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.film-card button:hover {
    background-color: #333;
}

.film-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    flex-grow: 1;
}

.film-card p {
    margin-bottom: 5px;
    color: #666;
    flex-grow: 1;
}

.film-genre {
    font-size: 14px;
    color: #666;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.rating span {
    color: gold;
    font-size: 24px;
}