.image_overlay {
    position: relative;
    display: inline-block;
}

.banner_image {
    display: block;
    width: 100%;
    border-radius: 12px;

}

.text_overlay {
    position: absolute;
    top: 35%;
    left: 18%;
    transform: translate(-50%, -50%);
    padding: 20px;
    color: #fff;
    font-size: 40px;
    font-weight: 900;
    text-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

.text_overlay h2 {
    margin-bottom: 20px;
}

.text_overlay p {
    margin: 0;
}
