.brands{
    padding: 40px 0 35px;
}

.brands_list{
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.brands_list li {
    width: 100px;
    height: 100px;
}

.brands_list li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.brands_title{
    border : 3px solid #000;
    border-radius: 10px;
}

.dc_logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 60px;
    height: 60px;
}

.wb_logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 70px;
    height: 70px;
}