.header{
    padding: 40px 0 35px;
}

.header_row{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.header_logo{
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 50px;
    height: 50px;
}

.header_avatar{
    width: 45px;
    height: 45px;
}

.header_logo span{
    font-weight: 900;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.03em;
    color : black;
}

.header_nav{
    font-weight: 500;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.01em;
}

.header_nav ul{
    display: flex;
    column-gap: 40px;
    align-items: center;

}

.header_nav a{
    color: black;
}

.header_nav ul li:nth-child(5) a {
    color: white;
    background-color: black;
    padding: 4px 8px;
    border-radius: 7px;
}